@mixin animation-keyframes {
  @keyframes textSlideDown {
    from {
			transform: translateY(-1em);
    }
  }

  @keyframes textSlideRight {
    from {
      transform: translateX(-1em);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      animation-timing-function: ease-in;
    }
  }
}
