/* backgrounds colors */
$light-background: rgb(255, 248, 253);
$dark-background: rgb(46, 37, 42);
$darker-background: rgb(44, 35, 40);

/* font colors */
$highlight-color: rgb(226, 110, 125);
$font-dark-color: rgb(87, 65, 81);
$font-white-color: rgba(white, .8);
