<h2 class="highlight-color header-font">
  Skills
</h2>

<div class="grid tecnologies-layout">
  <div class="skill-card">
    <h3 class="highlight-color header-font">
      Languages
    </h3>
    <ul>
      <li>English
      <li>Brazilian Portuguese
    </ul>
  </div>

  <div class="skill-card">
    <h3 class="highlight-color header-font">
      Programming Languages
    </h3>
    <ul>
      <li>C#
      <li>Delphi
      <li>LaTeX
    </ul>
  </div>

  <div class="skill-card">
    <h3 class="highlight-color header-font">
      Web Developement
    </h3>
    <ul>
      <li>Angular 2+
      <li>Sass / Less / CSS3
      <li>Typescript / Javascript
      <li>Bootstrap / Material
      <li>KnockoutJS
    </ul>
  </div>

  <div class="skill-card">
    <h3 class="highlight-color header-font">
      Databases / ORM
    </h3>
    <ul>
      <li>MySQL
      <li>SQL Server
      <li>SQLite
      <li>Entity Framework
      <li>Dapper
    </ul>
  </div>

  <div class="skill-card">
    <h3 class="highlight-color header-font">
      Backend / Desktop Development
    </h3>
    <ul>
      <li>ASP.NET
        <ul>
          <li>.NET Core 2+
          <li>.NET Framework 5+
        </ul>
      </li>
      <li>Datasnap
      <li>REST Dataware
      <li>WPF
      <li>Firemonkey / VCL
      <li>RabbitMQ
    </ul>
  </div>

  <div class="skill-card">
    <h3 class="highlight-color header-font">
      Others
    </h3>
    <ul>
      <li>Domain Driven Design
      <li>Microservices
      <li>Messaging Broker
      <li>Event Driven Architecture
      <li>Clean Code
      <li>Object Calisthenics
    </ul>
  </div>
</div>
