@import './../../../styles/variables';

.container-padding {
  padding: 2rem;
}

.personal-info {
  font-size: small;
  letter-spacing: .1em;
}

@media screen and (min-width: $small-screen-plus) {
  .personal-info {
    position: sticky;
    top: 0;
  }
}

.title {
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 0;
  font-weight: 600;
  margin-bottom: .3em;
}

.title + div:not(:last-child) {
  margin-bottom: 2em;
}