@import './../../../styles/variables';

.container-padding {
  padding: 2rem;
}

@media screen and (min-width: $small-screen-plus) {
  .personal-info {
    position: sticky;
    top: 0;
  }
}

.title {
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 0;
  font-weight: 600;
  margin-bottom: .3em;
}

.title + div:not(:last-child) {
  margin-bottom: 2em;
}

.personal-info {
  font-size: small;
  letter-spacing: .1em;
}

@for $i from 0 through 5 {
  .personal-info div:nth-child(#{$i + 1}) {
    animation: textSlideRight 400ms ease-out, fadeIn 400ms ease-in;
    animation-fill-mode: backwards;
    animation-delay: 80ms * $i;
  }
}
