.container-padding {
  padding: 2.5rem;
}

.personal-info {
  font-size: small;
  letter-spacing: .1em;
}

.title {
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 0;
  font-weight: 600;
  margin-bottom: .3em;
}

.title + div:not(:last-child) {
  margin-bottom: 2em;
}