@import './../../../styles/variables';

.grid.layout {
  grid-template-columns: fit-content(20rem) auto;
  min-height: 100vh;
}

@media screen and (max-width: $small-screen) {
  .grid.layout {
    grid-template-columns: 0 auto;
  }
}