<div class="content">
  <h2 class="highlight-color header-font">
    Experience
  </h2>

  <app-timeline-item date="2019-08">
    <strong>Empresa</strong>
    <br>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae animi numquam beatae saepe eos dolore unde totam esse dolor atque, dolorum cumque vel odio sed nisi nihil, sint magnam qui illum. Quia nam iste temporibus ipsum, autem dolorem vel est quos sunt laudantium earum repellat. Excepturi voluptatem eius consequuntur saepe!
  </app-timeline-item>

  <app-timeline-item date="2019-04" isLast="true">
    <div class="timeline-item-business-grid">
      <strong>Empresa</strong>
      <br>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas itaque perferendis nam? Itaque illo, temporibus odit reprehenderit reiciendis voluptatem nobis.
    </div>
  </app-timeline-item>
</div>
