<div class="content">
  <h2 class="highlight-color header-font">
    Experiences
  </h2>

  <app-timeline-item date="2019-08">
    <strong class="header-font">HBSIS Ambev, <i>Analista Desenvolvedor</i></strong>
    <div class="grid">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae animi numquam beatae saepe eos dolore unde totam esse dolor atque, dolorum cumque vel odio sed nisi nihil, sint magnam qui illum. Quia nam iste temporibus ipsum, autem dolorem vel est quos sunt laudantium earum repellat. Excepturi voluptatem eius consequuntur saepe!
    </div>
  </app-timeline-item>

  <app-timeline-item date="2019-04">
    <div class="grid">
      <strong class="header-font">Benner, <i>Desenvolvedor</i></strong>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas itaque perferendis nam? Itaque illo, temporibus odit reprehenderit reiciendis voluptatem nobis.
    </div>
  </app-timeline-item>

  <app-timeline-item date="2016-10" isLast="true">
    <div class="grid">
      <strong class="header-font">MemoCash Web, <i>Desenvolvedor</i></strong>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas itaque perferendis nam? Itaque illo, temporibus odit reprehenderit reiciendis voluptatem nobis.
    </div>
  </app-timeline-item>
</div>
