<h2 class="highlight-color header-font">
  Experiences
</h2>

<div class="timeline-container">
  <div>
    <app-timeline-item from="2019-08">
      <strong class="header-font">HBSIS Ambev, <i>Developer Analyst</i></strong>
      <div class="grid">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae animi numquam beatae saepe eos dolore unde totam esse dolor atque, dolorum cumque vel odio sed nisi nihil, sint magnam qui illum. Quia nam iste temporibus ipsum, autem dolorem vel est quos sunt laudantium earum repellat. Excepturi voluptatem eius consequuntur saepe!
      </div>
    </app-timeline-item>
  </div>
  
  <div>
    <app-timeline-item from="2019-04" to="2019-08">
      <div class="grid">
        <strong class="header-font">Benner, <i>Developer</i></strong>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas itaque perferendis nam? Itaque illo, temporibus odit reprehenderit reiciendis voluptatem nobis.
      </div>
    </app-timeline-item>
  </div>
  
  <div>
    <app-timeline-item from="2017-10" to="2019-03">
      <div class="grid">
        <strong class="header-font">Menu RED, <i>Developer</i></strong>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos placeat eius hic porro dolore expedita earum deserunt aspernatur, nihil magni.
      </div>
    </app-timeline-item>
  </div>
  
  <div>
    <app-timeline-item from="2016-10" to="2017-05" isLast="true">
      <div class="grid">
        <strong class="header-font">MemoCash Web, <i>Developer</i></strong>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. At architecto fuga aliquam. Pariatur, repudiandae veniam! Labore necessitatibus perspiciatis, velit nostrum maxime culpa.
      </div>
    </app-timeline-item>
  </div>
</div>
