.container-padding {
  padding: 3rem;
}

.personal-info {
  font-size: small;
  letter-spacing: .1em;
}

.title {
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 0;
  font-weight: 600;
  margin-bottom: .3em;
}

.title + div {
  margin-bottom: 2em;
}