@import "./../../../styles/variables.scss";

@media screen and (min-width: $medium-screen) {
  .grid.container-layout {
    grid-template-columns: 3fr minmax(300px, 550px);
  }

  .main-image {
    min-height: 650px;
  }
}

.grid.content-container {
  padding: 4rem 3rem;
}

.main-image {
  background-image: url("./../../../../assets/profile.jpg");
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 400%;
  font-weight: 800;
  line-height: 0.9em;
}

p {
  text-align: justify;
  line-height: 1.7em;
}

ul {
  margin-top: 2em;
  text-transform: uppercase;
  color: $font-dark-color;
  letter-spacing: 0.175em;
  font-weight: 600;
}

li a:hover {
  color: $highlight-color;
}

.anm-intro {
  animation: textSlideRight 400ms ease-out, fadeIn 400ms ease-in;
  animation-duration: 400ms;
}

.anm-name {
  animation: textSlideDown 400ms ease-out, fadeIn 400ms ease-in;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}

.anm-detail {
  animation: textSlideDown 300ms ease-out, fadeIn 300ms ease-in;
  animation-delay: 400ms;
  animation-fill-mode: backwards;
}

.anm-links {
  animation: textSlideDown 300ms ease-out, fadeIn 300ms ease-in;
  animation-delay: 600ms;
  animation-fill-mode: backwards;
}

a {
  cursor: pointer;
}
