<div class="grid container-layout light-background">

  <div class="grid content-container">
    <h2 class="header-font">
      Hello. My name is
    </h2>
    <h1 class="highlight-color header-font">
      Patrick Zanzarini
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias ut, molestias recusandae eligendi voluptas adipisci facere assumenda repellendus quis qui numquam fugit corrupti!
    </p>

    <ul class="inline center">
      <li> <a href="https://github.com/mikhaelsoras" target="_blank"> Github </a>
      <li> <a href="https://www.linkedin.com/in/patrick-zanzarini/" target="_blank"> LinkedIn </a>
    </ul>
  </div>

  <div class="main-image"></div>

</div>
