<h2 class="highlight-color header-font">
  Education
</h2>

<div class="timeline-container">
  <div>
    <app-timeline-item endDateOnly="true" to="2018-08">
      <strong class="header-font">Tributação para Programadores</strong>
      <div class="grid">
        TecnoSpeed Academy
      </div>
    </app-timeline-item>  
  </div>
  
  <div>
    <app-timeline-item endDateOnly="true" to="2017-12" isLast="true">
      <strong class="header-font">Tecnólogo em Análise e Desenvolvimento de Sistemas</strong>
      <div class="grid">
        Instituto Federal de Educação, Ciência e Tecnologia de São Paulo
      </div>
    </app-timeline-item>  
  </div>
</div>
